body{
    background-color: black;
}

h1{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}

#poster{
    color:white;
    text-align: center;
    margin-left: 25%;
    width: 50%;
    margin-top: 50px;
}

#thanksgiving{
    border: 5px solid white ;
    width: 100%;
}
